.app_dark_theme {
  --bg-color: #22223b;
  --inverted-bg-color: #f4f1de;
  --primary-color: #fffcf2;
  --secondary-color: #e07a5f;
  --inverted-primary-color: #003049;
  --inverted-secondary-color: #3d405b;
}
